h1.ps{color:#ff0033;font-family:Times News Roman;font-size:20pt;text-align:center}

	p.ps{color:#ffff00;font-family:Verdana;font-size:18pt;text-align:left}

ul{color:#0000cc;font-family:fantasy;font-size:18pt;text-align:left}

	h2{color:#ff0033;font-family:Arial;font-size:22pt;text-align:center}

h1{color:#0033ff;font-size:24pt;font-family:David;text-align:center}

	a{color:#ff0033;font-family:Arial;font-size:22pt;text-align:center}

p{color:#ff0000;font-size:16;font-family:Times News Roman;text-align:left;}

pre{color:#ff0033;font-family:Arial;font-size:22pt;text-align:center}
marquee{color:ffff00;font-size:28pt}